.speech{
  font-family: Times, serif;  
  font-size: 18px;
  color: black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: green;
    background-color:lightblue;
}
.stage-direction:hover{
    background-color: lightgray;
    color: seagreen;
}
.ARCHIDAMUS{
    color: black;
}
.CAMILLO{
    color: black;
}
.table{
    color: purple;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
 
table, th, td {
    border: 3px groove;
  }
 
tr:nth-child(even) {
    background-color: lightgrey;
}
.name:hover{
    text-shadow:5px 5px 5px violet;
    border: black;
    border: groove;   
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
ul.navbar-horizontal li {
    float:left; 
    color:blue;
    background-color : pink
    }
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
ul.navbar-horizontal a:hover {
background-color: rgb(235, 21, 21);
color:white;
}


  